annotated-types==0.6.0
appdirs==1.4.4
attrs==23.2.0
black==24.1.1
click==8.1.7
coverage==7.4.1
exceptiongroup==1.2.0
flake8==7.0.0
importlib-metadata==7.0.1
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
more-itertools==10.2.0
mypy==1.8.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
platformdirs==4.2.0
pluggy==1.4.0
py==1.11.0
pycodestyle==2.11.1
pydantic==2.6.1
pydantic_core==2.16.2
pyflakes==3.2.0
pyparsing==3.1.1
pytest==8.0.0
pytest-cov==4.1.0
regex==2023.12.25
six==1.16.0
toml==0.10.2
tomli==2.0.1
typed-ast==1.5.5
typing_extensions==4.9.0
watchdog==4.0.0
wcwidth==0.2.13
zipp==3.17.0
